@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.browser__div {
  width: 100%;
}

/* Sort direction */
.sort-dir-none {
  display: none;
}

.sort-dir-asc {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(/assets/img/arrow-up.png);
  background-size: 20px;
  margin: 0 10px -5px 2px;
}

.sort-dir-desc {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(/assets/img/arrow-down.png);
  background-size: 20px;
  margin: 0 10px -5px 2px;
}



a, button {
  min-width: 48px;
  min-height: 48px;
  cursor: pointer;
}



input {
  width: 70%;
  padding: 8px 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 0 6px;
}


table {
  font-family: 'Muli', sans-serif;
  border-collapse: collapse;
  width: 88%;
  margin: 0 auto;

  table-layout: fixed;

}

td {
  border: 1px solid #2f2f2f;
  padding: 0.1rem 0.5rem;
}

td.date, th.date {
  text-align: center;
  width: 230px;
}

th.type {
  width: 40px;
}

th.size {
  width: 100px;
}

th {
  border: 1px solid #2f2f2f;
  background: #1ba4b6;
  padding: 0.3rem;
}

th a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

th a:hover {
  text-decoration: underline;
}

.type-pic--center {
  text-align: center;
}

tr:nth-child(even) {
  background: #f4f7ff;
}

tr:nth-child(odd) {
  background: #fff;
}

tr:hover {
  background: #f2f7b5;
}

// th a:hover::after {
//   content: "^";
// }

.data__fileSize--align {
  text-align: right;
}
