<div class="browser__div">
  <!-- TODO : input file path validator -->
  PATH: <input type="text" name="currentPath" value="{{ currentPath }}" (keyup.enter)="goToDir($event, path.value)" #path /><button
    (click)="goToDir($event, path.value)">Go</button>

  <hr>
  <table *ngIf="data">
    <tr>
      <th>
        <a href="" (click)="sortColByType($event)">種類</a>
        <span [ngClass]="{
            'sort-dir-none': sortDirection == '0' && sortCol == 'type',
            'sort-dir-asc': sortDirection == '1' && sortCol == 'type',
            'sort-dir-desc': sortDirection == '2' && sortCol == 'type'}">
        </span>
      </th>
      <th>
        <a href="" (click)="sortColByFileName($event)">檔案名稱</a>
        <span [ngClass]="{
          'sort-dir-none': sortDirection == '0' && sortCol == 'fileName',
          'sort-dir-asc': sortDirection == '1' && sortCol == 'fileName',
          'sort-dir-desc': sortDirection == '2' && sortCol == 'fileName'}">
        </span>
      </th>
      <th>
        <a href="" (click)="sortColByFileSize($event)">檔案大小</a>
        <span [ngClass]="{
          'sort-dir-none': sortDirection == '0' && sortCol == 'size',
          'sort-dir-asc': sortDirection == '1' && sortCol == 'size',
          'sort-dir-desc': sortDirection == '2' && sortCol == 'size'}">
        </span>
      </th>
      <th>
        <a href="" (click)="sortColByDate($event)">日期+時間</a>
        <span [ngClass]="{
            'sort-dir-none': sortDirection == '0' && sortCol == 'date',
            'sort-dir-asc': sortDirection == '1' && sortCol == 'date',
            'sort-dir-desc': sortDirection == '2' && sortCol == 'date'}">
        </span>
      </th>
    </tr>
    <tr *ngIf="data.parent">
      <td>...</td>
      <td colspan="3"><a href="" (click)="goToDir($event, data.parent)">回上一層</a></td>
    </tr>

  <ng-container *ngIf="sortCol !== 'type'">
    <tr *ngFor="let item of data.files">
      <td>
         <!-- {{ item.type }} -->
        <div *ngIf="item.type == 'D'" class="type-pic--center">
          <img src="/assets/img/folder.png" width="30px" alt="folder" />
        </div>
        <div *ngIf="item.type == 'F'" class="type-pic--center">
          <img src="/assets/img/file.png" width="30px" alt="file" />
        </div>
      </td>
      <td><a href="" (click)="goToDirOrDownload($event, item.type, item.name)">{{ item.name }}</a></td>
      <td class="data__fileSize--align"><span>{{ item.size | number: '.0'}}</span></td>
      <td>{{ item.modified | date:'yyyy/MM/dd HH:mm:ss' }}</td>
    </tr>
  </ng-container>
  <!-- Sorting with group by date -->
  <ng-container *ngIf="sortCol == 'type'">
    <ng-container *ngFor="let g of groupFiles">
      <tr>
          <td colspan="4"> {{ g.group }}</td>
      </tr>
      <tr *ngFor="let item of g.fileItems">
          <td>
              <!-- {{ item.type }} -->
             <div *ngIf="item.type == 'D'" class="type-pic--center">
               <img src="/assets/img/folder.png" width="30px" alt="folder" />
             </div>
             <div *ngIf="item.type == 'F'" class="type-pic--center">
               <img src="/assets/img/file.png" width="30px" alt="file" />
             </div>
           </td>
          <td><a href="" (click)="goToDirOrDownload($event, item.type, item.name)">{{ item.name }}</a></td>
          <td class="data__fileSize--align"><span>{{ item.size | number: '.0'}}</span></td>
          <td>{{ item.modified | date:'yyyy/MM/dd HH:mm:ss' }}</td>
      </tr>
    </ng-container>
  </ng-container>

  </table>
</div>
